*{
  box-sizing: border-box;

}

body{
  background-color: lightgreen;

}

#characters{
  text-align: center;

}

#name td{
  font-size: 16px;
  font-weight: bold;
  padding:2px;
  float:left;
}

.container-fluid {


}
#hero_pic{
  float_left;

}
.character img {
  width: 300px;
  height:300px;
}
